body {
    background-color: grey;
}

#profile-wrapper {
    text-align: center;
}

#profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

.social-links,
ul,
li {
    display: inline-block;
    list-style-type: none;
}

.social {
    width: 20px;
    height: 20px;
}